/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
} */

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333333;
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
.icon .ph-light{
    position: absolute;
    padding: 10px;
    margin-left: 650px;
    margin-top: 5px;
}
.search-bar input {
    padding: 10px;
    font-size: 16px;
    width: 700px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin: 5px;

}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    width: 700px;
    height: 40px;
}

.search-bar button:hover {
    background-color: #0056b3;
}

#room-status {
    display: none;
}

#customer-id-display {
    font-weight: bold;
}

.legend {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    justify-content: right;
}

.legend .available {
    color: green;
}

.legend .occupied {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #f1f1f1;
}

.status-available {
    color: green;
    font-weight: bold;
}

.status-occupied {
    color: red;
    font-weight: bold;
}

.action-button {
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.action-occupied {
    background-color: red;
}

.action-available {
    background-color: green;
}

.status.available {
    color: #77b88f;
    font-weight: bold;
    border-radius: 10px;
}

.status.occupied {
    color: red;
    font-weight: bold;
    border-radius: 10px;
}

.action-button {
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.action-occupied {
    background-color: #fde2e2;
    color: red;
}

.action-available {
    background-color: #dbfbe4;
    color: #77b88f;
}